<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
  <title>view profiles</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th>name</th>
    <th>age</th>
    <th>occupation</th>
  </tr>
  </thead>
  <tbody>
<!--  <c:forEach items ="${profiles}" var="profile">-->
<!--    <tr>-->
<!--      <td>${profile.name}</td>-->
<!--      <td>${profile.age}</td>-->
<!--      <td>${profile.occupation}</td>-->
<!--    </tr>-->
<!--  </c:forEach>-->
  <tr th:each="profile: ${profiles}">
    <td th:text="${profile.name}" >
    <td th:text="${profile.age}" >
    <td th:text="${profile.occupation}" >
  </tr>
  </tbody>
</table>
</body>
</html>